
section.card,
.project-card,
.stat-box,
.contact-form,
footer,
button {
    transition: all 0.4s ease;
}

/* =========================
   ESTADÍSTICAS
========================= */

.stats {
    max-width: 1200px;

    margin: auto;
    padding: 20px 30px 50px;

    display: flex;
    gap: 20px;
}

.stat-box {
    flex: 1;

    padding: 30px;

    text-align: center;

    transition: var(--transition);
}

.stat-box:hover {
    transform: translateY(-10px);

    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);

    scale: 1.03;
}

.stat-box h3 {
    font-size: 40px;
    color: var(--primary);

    margin-bottom: 10px;
}

.stat-box p {
    color: #555;
    font-weight: 500;
}


/* =========================
   CONTENEDOR PRINCIPAL
========================= */
.section-title{
   text-align:center;
    font-size:clamp(32px,4vw,42px);
    font-weight:800;
    margin-top:80px;
    margin-bottom: 30px;
}

.container {
    max-width: 900px;

    margin: auto;
    padding: 10px 30px 30px;

    display: flex;
    gap: 20px;

    align-items: stretch;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

.left,
.right{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.left .card,
.right .card{
    flex: 1;
    margin: 0;
}

/* =========================
   TARJETAS
========================= */

section.card {
    background: rgba(255,255,255,0.75);

    backdrop-filter: blur(14px);

    border-radius: 24px;

    padding: 25px;

    border: 1px solid rgba(255,255,255,0.25);

    box-shadow: 0px 8px 25px rgba(0,0,0,0.08);

    transition: 0.35s ease;

    margin: 50px 0;
}

section.card:hover {
    transform: translateY(-10px);

    box-shadow:
     0px 20px 40px rgba(0,0,0,0.10),
     0px 0px 0px 1px rgba(31,111,235,0.08);

     background: rgba(255,255,255,0.82);
}

.card,
.project-card,
.service-card,
.stat-box {

    transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;

}

.card:hover,
.project-card:hover,
.service-card:hover,
.stat-box:hover {

    transform: translateY(-8px);

    box-shadow:
    0 20px 40px rgba(0,0,0,0.12);

}