/* ========================
    DARK MODE
============================ */

.dark-mode nav {
    background-color: rgba(20, 20, 20, 0.9);
}

.dark-mode section.card,
.dark-mode .project-card,
.dark-mode .stat-box,
.dark-mode .contact-form,
.dark-mode #productosDinamicos div {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode p {
    color: #ddd;
}

.dark-mode input,
.dark-mode textarea {
    background: rgba(255, 255, 255, 0.03);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    transition: all 0.35s ease;
    border-radius: 14px;
}

.dark-mode input:focus,
.dark-mode textarea:focus {
    border-color: #4c8dff;
    box-shadow: 
    0 0 0 4px rgba(76,141,255,0.15),
    0 10px 30px rgba(76,141,255,0.10);
    background: rgba(255, 255, 255, 0.05);
}

.dark-mode footer {
    background-color: #111;
}

.dark-mode .project-card {
    transition: var(--transition);
}

.dark-mode .project-card:hover {
    background: linear-gradient(to bottom, #1e1e1e, #2c2c2c);
}

.dark-mode .nav-links a {
    color: white;
}

.dark-mode .pokemon-card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .pokemon-card p,
.dark-mode .pokemon-card h3 {
    color: white;
}

.dark-mode .service-card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .service-card p {
    color: #ddd;
}

/* =========================
    TEXTOS DARK MODE
==========================*/
.dark-mode .hero-info h2,
.dark-mode .hero-info p,
.dark-mode .stat-box p,
.dark-mode .project-card p,
.dark-mode .card p,
.dark-mode .contact-form p,
.dark-mode footer p {
    color: #f1f1f1;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
    color: white;
}

/* ===========================
    WEATHER APP
=============================== */
.dark-mode .weather-card {
    background-color: #1e1e1e;
    color: white;
}

/* =========================    
    TASK DASHBOARD
========================= */

.dark-mode .task-item {
    background-color: #1e1e1e;
}

.dark-mode .task-item.completed {
    background-color: #234423;
}

/* =========================
    BUSCADOR
============================ */

.dark-mode .search-box {
    background-color: #1e1e1e;
}

.dark-mode .search-box input {
    color: white;
}

.dark-mode .search-box input::placeholder {
    color: #ccc;
}

.dark-mode .input-group label {
    background: transparent;
    color: #999;
    padding: 0 8px;
}

.dark-mode .contact-form {

    background: rgba(20,20,20,0.75);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.05);

    border-radius: 24px;
    
    box-shadow:
    0 10px 40px rgba(0,0,0,0.35);
}

.dark-mode .contact-form button {

    background: linear-gradient(
        135deg,
        #2563eb,
        #1d4ed8
    );

    color: white;
}

.dark-mode .contact-form button:hover {

    transform: translateY(-2px);

    box-shadow:
    0 15px 35px rgba(37,99,235,0.35);
}